langchain>=1.2.18,<2.0.0
langchain-core>=1.3.3,<2.0.0
langchain-community>=0.4.1,<0.5.0
langchain-huggingface>=1.2.2,<2.0.0
langchain-google-genai>=4.2.2,<5.0.0
langchain-groq>=1.1.2,<2.0.0
langchain-openai>=1.2.1,<2.0.0
pydantic>=2.7.4,<3.0.0
python-dotenv
pypdf
beautifulsoup4
sentence-transformers>=5.4.1,<6.0.0
transformers>=4.57.6,<5.0.0
typing-extensions>=4.15.0
huggingface-hub
chromadb
langchain-chroma
faiss-cpu
wikipedia
streamlit
langgraph-checkpoint-sqlite
ipykernel
ddgs